/activate
/data/lenadata/lena_index
/data/lenadata/refbin
/data/HG002.novaseq.pcr-free.35x.R1.fastq.ora
/data/HG002.novaseq.pcr-free.35x.R2.fastq.ora
/data/hg38+alt_masked+cnv+graph+hla+rna-8-r2.0-1.run
/data/hg38+alt_masked+cnv+graph+hla+rna-8-r2.0-1/hash_table.cfg
/data/hg38+alt_masked+cnv+graph+hla+rna-8-r2.0-1/hash_table.cfg.bin
/data/hg38+alt_masked+cnv+graph+hla+rna-8-r2.0-1/hash_table.cmp
/data/hg38+alt_masked+cnv+graph+hla+rna-8-r2.0-1/hash_table_stats.txt
/data/hg38+alt_masked+cnv+graph+hla+rna-8-r2.0-1/info.json
/data/hg38+alt_masked+cnv+graph+hla+rna-8-r2.0-1/kmer_cnv.bin
/data/hg38+alt_masked+cnv+graph+hla+rna-8-r2.0-1/mask.bed
/data/hg38+alt_masked+cnv+graph+hla+rna-8-r2.0-1/md5sum
/data/hg38+alt_masked+cnv+graph+hla+rna-8-r2.0-1/ref_index.bin
/data/hg38+alt_masked+cnv+graph+hla+rna-8-r2.0-1/ref_pop_snps.bin
/data/hg38+alt_masked+cnv+graph+hla+rna-8-r2.0-1/reference.bin
/data/hg38+alt_masked+cnv+graph+hla+rna-8-r2.0-1/repeat_mask.bin
/data/hg38+alt_masked+cnv+graph+hla+rna-8-r2.0-1/str_table.bin
/data/hg38+alt_masked+cnv+graph+hla+rna-8-r2.0-1/anchored_rna/
/data/hg38+alt_masked+cnv+graph+hla+rna-8-r2.0-1/anchored_hla/
/deploy.log
/cloud_functions/get_status/requirements.txt
/cloud_functions/run_batch/requirements.txt
/cloud_functions/scheduler/requirements.txt
/config/cram/cram_config_378.json
/config/cram/cram_config_403.json
/config/cram/378/batch_config.json
/config/cram/378-dryrun/batch_config.json
/config/cram/403/batch_config.json
/config/fastq/fastq_config_403.json
/config/fastq/403/batch_config.json
/config/cram/dryrun_config_fail.json
/config/cram/dryrun_config_pass.json
